### https://raw.github.com/github/gitignore/c0de8bc140e3079c93f2970be853d310602a5ddb/Go.gitignore

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof


### mod
vendor/
go.sum

### For integration test
db/migrations/
.migoraterc

### For Docker db volume
testdb
